.fredoka {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

.titulo{
    font-family: "Fredoka", sans-serif;
}

.texto{
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.header{
    width: 100%;
    flex: 1;
    background-color: aquamarine;
    display: flex;
}

.main{
    flex: 8;
}

.textoHeader{
    width: 50%;
}

.containerBolinhas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bolinha{
    padding: 20px;
    border-radius: 100px;
    margin: 20px;
}

.bolinha:nth-child(1){
    background-color: #e79119;
}

.bolinha:nth-child(2){
    background-color: #1e508c;
}

.bolinha:nth-child(3){
    background-color: #ddd6b9;
}

.bolinha:nth-child(4){
    background-color: #bd2e19;
}

.bolinha:nth-child(5){
    background-color: #3e9a62;
}


.bolinha:nth-child(6){
    background-color: #da8299;
}

.bolinha:nth-child(7){
    background-color: #d16b27;
}

