.fredoka {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

.titulo{
    font-family: "Fredoka", sans-serif;
}

.texto{
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.header{
    width: 100%;
    flex: 1;
    background-color: var(--roxo);
    color: var(--creme);
    display: flex;
}

.main{
    flex: 8;
}

.textoHeader{
    flex-direction: column;
}

.containerBolinhas, .textoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/*======================FIGURAS============================*/

.bolinha{
    padding: 3.5%;
    border-radius: 100%;
    margin: 10px;
    border: 1px solid var(--marrom);
    transition: transform 0.3s ease;
}

.bolinha:hover {
  transform: scale(1.2);
}

:root{
    --vermelho:#bd2e19;
    --laranja:#d16b27;
    --amarelo: #e79119;
    --verde:#3e9a62;
    --azul: #1e508c;
    --roxo: #574979;
    --rosa:#da8299;
    --creme: #ddd6b9;
    --marrom: #382b18;
    --altura-listra: 1px;
}


.bolinha:nth-child(1){
    background-color: var(--vermelho);
}

.bolinha:nth-child(2){
    background-color: var(--laranja);
}

.bolinha:nth-child(3){
    background-color: var(--amarelo);
}

.bolinha:nth-child(4){
    background-color: var(--verde);
}

.bolinha:nth-child(5){
    background-color: var(--azul);
}


.bolinha:nth-child(6){
    background-color: var(--roxo);
}

.bolinha:nth-child(7){
    background-color: var(--rosa);
}


.bolinha:nth-child(8){
    background-color: var(--creme);
}

.bolinha:nth-child(9){
    background-color: var(--marrom);
}

/*==================CARTA LISTRADA=========================*/

.cartaListrada{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--roxo);
    border-radius: 2%;
    background-color: #3e9a62;
}

.linhaListrada{
    flex: 1;
    display: flex;
    
    justify-content: space-between;

}
.meioListrada{
    display: flex;
    flex: 5
    
}

.lateralListrada{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 2px;
}

.mainListrada{
    flex: 5;
    border: 5px solid var(--roxo);
    border-radius: 2%;
}


       
.listraCimaBaixo{
    height: 100%;
    width: 15%;
    background-color: var(--roxo);
}


.listraLateral{
    
/*para ficar os quadrados com o mesmo tamanho
 [100(%) . 15(%,porcentagem que foi colocada como width na anterior)] / 100-(2.15(%, porcentagem da anterior)) */
    height: 21.5%;
    width: 100%;
    background-color: var(--roxo);

}

