.fredoka {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

.titulo{
    font-family: "Fredoka", sans-serif;
}

.texto{
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

.header{
    width: 100%;
    flex: 1;
    background-color: aquamarine;
    display: flex;
}

.main{
    flex: 8;
}

.textoHeader{
    flex-direction: column;
}

.containerBolinhas, .textoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bolinha{
    padding: 3.5%;
    border-radius: 100%;
    margin: 10px;
    border: 1px solid black;
}

:root{
    --vermelho:#bd2e19;
    --laranja:#d16b27;
    --amarelo: #e79119;
    --verde:#3e9a62;
    --azul: #1e508c;
    --roxo: #574979;
    --rosa:#da8299;
    --creme: #ddd6b9;
    --marrom: #6e563b;
}



.bolinha:nth-child(1){
    background-color: var(--vermelho);
}

.bolinha:nth-child(2){
    background-color: var(--laranja);
}

.bolinha:nth-child(3){
    background-color: var(--amarelo);
}

.bolinha:nth-child(4){
    background-color: var(--verde);
}

.bolinha:nth-child(5){
    background-color: var(--azul);
}


.bolinha:nth-child(6){
    background-color: var(--roxo);
}

.bolinha:nth-child(7){
    background-color: var(--rosa);
}


.bolinha:nth-child(8){
    background-color: var(--creme);
}

.bolinha:nth-child(9){
    background-color: var(--marrom);
}

